<nav class="mb-5 navbar navbar-light bg-light justify-content-between flex-nowrap flex-row">
  <div class="container">
    <a routerLink="/" class="navbar-brand float-left">App</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </li>
    </ul>

    <ul class="nav navbar-nav flex-row">
      <li *ngIf="isSignedIn" class="nav-item">
        <a (click)="handleSignOut()" class="nav-link pr-3">Sign Out</a>
      </li>
      <li *ngIf="!isSignedIn" class="nav-item">
        <a class="nav-link pr-3" routerLink="/signin">Sign In</a>
      </li>
      <li *ngIf="!isSignedIn" class="nav-item">
        <a class="nav-link pr-3" routerLink="/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>